# Test report  

## Testing performed & Automatic Testing:

*As our team have decided to create a feature based on student record attendance and the login page, we didnt do any testing for this as it is not needed. 
